body {
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 100px;
}

#languages{
    position: fixed;
    bottom: 0;
    right: 0;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.about {
    padding: 50px 0;
}
/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

.header {
    color: white;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
    opacity: 0.7;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/*footer*/

hr.small {
    max-width: 100px;
}

/*homeNavbar*/

.navbar {
    margin-bottom: 0;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 480px;
    max-height: 480px;
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
}
.navbar-fixed-top.scrolled .nav-link {
    color:#555;
}
/* languages */
#languages img {
    max-width: 20px;
    height: 20px;
}
.fontBold{
    font-weight: bold;
}
